*{
	margin:0;
	padding:0;
}

body{
	background:url(../img/bg2.jpg);
}

h1{
	font-size: 400%;
	font-family: Verdana;
	text-align: center;
	color: rgba(255, 255, 255, 0.7);

}

header div  .sl{
width:845px;
height:86px;
}

header, .main, footer{
	/*background:white;*/
	width:90%;
	max-width: 1000px;
	margin: 20px auto;

}

header nav{
	background:#26467e;
	overflow: hidden;
}

header nav ul{
	list-style: none;
}

header nav ul li{
	float: left;

}
header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 110%;
	font-family: sans-serif;
}

header nav ul li a:hover{
	background: #3e73cf;
}

.main .articulos{
	width: 98.5%;
	margin-right: 1.5%;
	float: left;


}
.main .articulos article{
	padding: 20px;
	background: rgba(255, 255,255, 0.7);
	margin-bottom: 20px;
	text-align: justify;
	font-size: 130%;
	font-weight: bold;

}

.main .articulos article img{
	width: 400px;
	margin: auto;
	border-radius: 50%;
	padding: 20px;
	display: block;
	align-items: center;

}

h2{
	margin-bottom: 10px;
}
aside{
	width: 30%;
	background: rgba(255, 160, 122, 0.5);
	float: left;
	padding: 20px;
	box-sizing: border-box;
	text-align: justify;
}

 .l3{
	/*width: 30%;*/
	background: #fff;
	float: left;
	padding: 20px;
	overflow: hidden;
	box-sizing: border-box;
}

footer{
	background: #000;
	color:white;
	clear: both;
	text-align: center;
	padding: 10px 0;
}
